$color-primary: #fff;
$color-focus: #f5de5e;
$color-background: #a5a5a5;
$color-text: #000000;
$color-ai-button: #97B1A6;

#root {
  max-width: 1280px;
  min-height: 100vh;
  height: fit-content;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}

p {
  margin: 0;
}

body {
  background-color: $color-background;
  height: fit-content;
}

.main-img {
  width: 60vw;
  height: auto;
  margin-top: 2rem;
  border-radius: 8px;
}



.diff-bg {
  background-color: $color-focus;
}

.job-item {
    
  &__container {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 60vw;
    min-height: 20vh;
    height: fit-content;
    padding: 0.5rem;
    background-color: $color-primary;
    border: 2px solid;
    border-color: $color-primary;
    border-radius: 8px;
    text-decoration: none;
    color: $color-text;

    &:hover {
      border: 2px solid;
      border-color: #646cff;
    }
  }

  &__company-container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
  }

  &__company-img {
    height: 60px;
    aspect-ratio: 1.2/1;
    border-radius: 8px;
    object-fit: scale-down;
  }

  &__inner-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
  }

  &__company {
    color: black;
    align-self: center;
  }

  &__ai-button {
    width: fit-content;
    align-self: flex-end;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
  }

}

.job-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;

  &__error-text {
    color: red;
  }
}

.btns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
  margin: auto;
  gap: 0.5rem;

  button {
   min-width: 40%;
   width: fit-content;
   text-align: center;
  }

  button:focus, button:focus-visible {
    outline: none;
  }
}

@media screen and (min-width: 600px){
  .job-listing {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btns-container {
    width: 50vw;
  }

  .main-img {
    width: 25vw;
  }

  .job-item {
    &__container {
    width: 40%;
    }
    
    &__company-container {
      flex-direction: column;
    }
  }
}